<ul class="list-group" ng-controller="abstrapstepNew">
    <li class="list-group-item">
        <div class="panel-heading">
            选择类型
        </div>
        <div class="wrapper-xs">
            <form id="typeJSON" name="typeJSON">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td style="width:150px;">所属单位：</td>
                        <td>
                            <select name="department">
                                <option value="崖州区城市管理局">崖州区城市管理局</option>
                                <option value="崖州区农林局">崖州区农林局</option>
                                <option value="崖州区海洋渔业水务局">崖州区海洋渔业水务局</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>名称：</td>
                        <td id="updateStepDate"><input type="text" name="type" value="{{abstractstepN.type}}"/></td>
                    </tr>
                    <tr>
                        <td>参数：</td>
                        <td>
                            <button ng-click="adda.adddepartment()">新增</button>
                            <div id="addargument">
                                <div class="wrapper-xs clear" ng-repeat="argu in activities">
                                    <div class="w pull-left">
                                        <span>{{$index+1}}</span>
                                        类型:
                                        <select class="w-xs" name="{{argu.argutype}}" id="myArgument{{$index+1}}"
                                                 ng-model="argu.argutype"
                                                ng-click="chooseargument(argu.argutype,$index+1)">
                                            <option ng-repeat="arguop in settingargu" value="{{arguop.type}}" ng-selected="arguop.type==argu.argutype">{{arguop.name}}</option>
                                        </select>
                                    </div>
                                    <div class="w pull-left">
                                        名称：<input class="w-sm" type="test" name="{{argu.name}}" ng-model="argu.name"/>
                                    </div>
                                    <div class="pull-left">
                                        <button ng-click="quotecontent(argu.name)">插入</button>
                                        <button onclick="$(this).parent().parent().remove()">删除</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <script src="js/plugins/ueditor/umeditor.min.js"></script>
            <div class="col-sm-12" umeditor>
                <div class="ibox float-e-margins">
                    <div class="ibox-content no-padding">

                        <div type="text/plain" id="myEditor" style="width:100%;height:240px;">
                            <div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </li>
    <li class="list-group-item">
        <div class="panel">
            <div class="panel-heading">
                人员权限
                <button ng-hide="selectedNew" ng-click="updatepower()">修改</button>
            </div>
            <div class="panel-body">
                <form id="newFrom">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td style="width:200px">新建/编辑</td>
                            <td>
                                <!--<select name="new" ng-init="selectedNam = personPower[1]" ng-model="selectedNam" ng-options="x.name for x in personPower">-->
                                <span class="thumb-xxl" ng-hide="selectedNew">当前设置：{{abstractstepN.power.new}}</span>
                                <select name="new" ng-if="selectedNew||selectedUpdate">
                                    <option ng-repeat="power in personPower" value="{{power._id}}">{{power.name}}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>审核</td>
                            <td>
                                <span class="thumb-xxl" ng-hide="selectedNew">当前设置： {{abstractstepN.power.audit}}</span>
                                <select name="audit" ng-if="selectedNew||selectedUpdate">
                                    <option ng-repeat="power in personPower" value="{{power._id}}">{{power.name}}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button ng-click="abstractstepN.type?updatepersonpower(abstractstepN._id):newpersonpower()">
                                    完成
                                </button>
                                <button>返回</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </li>
</ul>