<!--<link rel="stylesheet" href="css/summernote.css"/>-->
<div class="wrapper case" ng-controller="abstractstepCtrl">
    <!--<ol class="breadcrumb">-->
    <!--<li><a>事件概况</a></li>-->
    <!--<li><a>{{process.name}}</a></li>-->
    <!--<li><a>添加参案人员</a></li>-->
    <!--</ol>-->
    <div class="panel-body caseTitle">
        <h4>添加参案人员</h4>
    </div>
    <div class="panel no-margin row">
        <div class="panel-body col-md-2">
            <button class="btn" ng-click="newcaseroute()">新建步骤</button>
            <div class="list-group">
                <a class="list-group-item" ng-repeat="step in stepAll" ng-click="editStep(step._id)" title="点击编辑">
                    {{step.type}}
                </a>
            </div>
        </div>
        <div class="panel-body col-md-10" ui-view>
        </div>
    </div>
</div>