<ul class="list-group" ng-controller="abstrapstepNew">
    <li class="list-group-item">
        <div class="panel-heading">
            选择类型
        </div>
        <div class="wrapper-xs">
            <form id="typeJSON" name="typeJSON">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td style="width:150px;">所属单位：</td>
                        <td>
                            <select name="department">
                                <option value="崖州区城市管理局">崖州区城市管理局</option>
                                <option value="崖州区农林局">崖州区农林局</option>
                                <option value="崖州区海洋渔业水务局">崖州区海洋渔业水务局</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>名称：</td>
                        <td id="updateStepDate"><input type="text" name="type" value="{{abstractstepN.type}}"/></td>
                    </tr>
                    <tr>
                        <td>参数：</td>
                        <td>
                            <!--<button>删除</button>-->
                            <button ng-click="add.adddepartment()">新增</button>
                            <div id="addargument">
                                <div class="wrapper-xs" ng-repeat="argu in activities">
                                    <span>{{$index+1}}</span>
                                    类型:
                                    <input type="text" name="{{argu.argutype}}" ng-model="argu.argutype">
                                </select>
                                    名称：<input type="test" name="{{argu.name}}" ng-model="argu.name"/>
                                    <button ng-click="quotecontent(argu.name)">插入</button>
                                    <button onclick="$(this).parent().remove()">删除</button>
                                </div>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <script src="js/plugins/ueditor/umeditor.min.js"></script>
            <div class="col-sm-12" umeditor>
                <div class="ibox float-e-margins">
                    <div class="ibox-content no-padding">

                        <div type="text/plain" id="myEditor" style="width:100%;height:240px;">
                            <div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </li>
    <li class="list-group-item">
        <div class="panel">
            <div class="panel-heading">
                人员权限
            </div>
            <div class="panel-body">
                <form id="newFrom">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td style="width:200px">新建/编辑</td>
                            <td>
                                <!--<select name="new" ng-init="selectedNam = personPower[1]" ng-model="selectedNam" ng-options="x.name for x in personPower">-->
                                当前设置：{{abstractstepN.power.new}}
                                <button ng-click="updatepower('selectedNew')">修改</button>
                                <select name="new" ng-if="selectedNew" ng-model="selectedNew">
                                    <option ng-repeat="power in personPower" value="{{power._id}}">{{power.name}}</option>
                                </select>{{selectedNew}}
                            </td>
                        </tr>
                        <tr>
                            <td>审核</td>
                            <td>
                                当前设置：{{abstractstepN.power.audit}}
                                <button ng-click="updatepower('selectedoff')">修改</button>
                                <select name="audit" ng-if="selectedoff" ng-model="selectedoff">
                                    <option ng-repeat="power in personPower" value="{{power._id}}">{{power.name}}</option>
                                </select>{{selectedoff}}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button ng-click="abstractstepN.type?updatepersonpower(abstractstepN._id):newpersonpower()">完成</button>
                                <button>返回</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </li>
</ul>