<div class="wrapper  animated fadeInRight" ng-controller="concretestepCtrl">
    <div class="panel-body caseTitle">
        <h4>{{currenteventName}}</h4>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox" style="height:100%;">
                <div class="ibox-content">
                    <h4>任务列表</h4>
                    <p class="small"><i class="fa fa-hand-o-up"></i> 在列表之间拖动任务面板</p>

                    <ul class="sortable-list connectList agile-list">

                        <li class="danger-element" ng-repeat="list in taskList">
                            {{list.name}}
                            <div class="agile-detail">
                                <a ng-click="addparameter(list._id)" class="pull-right btn btn-xs btn-white">查看</a>
                                <i class="fa fa-clock-o"></i> 2015.09.01
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h4>进行中</h4>
                    <p class="small"><i class="fa fa-hand-o-up"></i> 在列表之间拖动任务面板</p>
                    <ul class="sortable-list connectList agile-list" style="height:100%;">
                        <li class="danger-element" ng-repeat="list in taskcurrent">
                            {{list.name}}
                            <div class="agile-detail">
                                <a ng-click="addparameter(list._id)" class="pull-right btn btn-xs btn-white">查看</a>
                                <i class="fa fa-clock-o"></i> 2015.09.01
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h4>正在审核</h4>
                    <p class="small"><i class="fa fa-hand-o-up"></i> 在列表之间拖动任务面板</p>
                    <ul class="sortable-list connectList agile-list" style="height:100%;">
                        <li class="danger-element" ng-repeat="done in taskdone">
                            {{done.name}}
                            <div class="agile-detail">
                                <a ng-click="addparameter(done._id)" class="pull-right btn btn-xs btn-white">查看</a>
                                <i class="fa fa-clock-o"></i> 2015.09.01
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h4>已完成</h4>
                    <p class="small"><i class="fa fa-hand-o-up"></i> 在列表之间拖动任务面板</p>
                    <ul class="sortable-list connectList agile-list" style="height:100%;">
                        <li class="danger-element" ng-repeat="done in taskdone">
                            {{done.name}}
                            <div class="agile-detail">
                                <a ng-click="addparameter(done._id)" class="pull-right btn btn-xs btn-white">查看</a>
                                <i class="fa fa-clock-o"></i> 2015.09.01
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


</div>
<script>
    $(document).ready(function(){$(".sortable-list").sortable({connectWith:".connectList"}).disableSelection()});
</script>

<!--<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>-->