<!--<link rel="stylesheet" href="css/summernote.css"/>-->
<div class="wrapper case" ng-controller="concretearguCtrl">
    <!--<ol class="breadcrumb">-->
    <!--<li><a>事件概况</a></li>-->
    <!--<li><a>{{process.name}}</a></li>-->
    <!--<li><a>添加参案人员</a></li>-->
    <!--</ol>-->
    <div class="panel-body caseTitle">
        <h4>人员</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="panel no-margin">
                <div class="panel-heading">
                    选择类型
                </div>
                <div class="panel-body">
                    <div class="wrapper-xs">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>名称：</td>
                                <td><span>{{steps.name}}</span></td>
                            </tr>
                            <tr>
                                <td>参数：</td>
                                <td>
                                    <form id="typeJSON" name="typeJSON">
                                        <div class="wrapper-xs" ng-repeat="can in arguArr">
                                        <span class="wrapper-xs"
                                              ng-init="types=(can.type=='date'||can.type=='时间'?'date':'')">参数{{$index+1}}：
                                            <input class="w-sm" id="{{can._id}}" name="{{can._id}}"
                                                   type="{{types}}"
                                                   title="{{can.promptvalue}}" value="{{can.value[0]}}"
                                                   placeholder="{{can.promptvalue}}"/>
                                            <button>选择</button></span>
                                        </div>
                                        <button class="btn btn-danger" ng-click="createWord()">生成Word</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item" style="margin-top:-30px;">
            <div class="row">
                <script src='js/plugins/ueditor/umeditor.min.js'></script>
                <div class="col-sm-12" umeditor>
                    <div class="ibox float-e-margins">
                        <div class="ibox-content no-padding">
                            <div type="text/plain" id="myEditor" style="width:100%;height:240px;">
                                <p>这里我可以写一些输入提示</p>
                            </div>
                            <div>
                                <h3 id="focush2"></h3>
                            </div>
                        </div>
                    </div>
                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h4>输入设置密码<span class="close" data-dismiss="modal">×</span></h4>

                                    <form class="bs-example bs-example-form" role="form">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="input-group">
                                                    <input type="password" ng-model="savepassword" class="form-control">
                                                    <span class="input-group-btn">
						<button class="btn btn-default" ng-click="argualert?argusubmit.yanzheng(savepassword):argusave.yanzheng(savepassword)" type="button"
                                data-toggle="modal" data-target="#myModal2">确定
                        </button>
					</span>
                                                </div><!-- /input-group -->
                                            </div><!-- /.col-lg-6 -->
                                        </div><!-- /.row -->
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <div class="panel" id="leadreason" style="display: none;">
                        <div class="page-header">意见</div>
                        <div class="panel-body"><textarea class="form-control" rows="3" ng-model="powertext"></textarea>
                            <button class="btn btn-danger pull-right" ng-click="powerisshow?stepgo.send(powertext):stepbackoff.send(powertext)">确定</button>
                        </div>
                    </div>
                    <div class="panel-body text-center" id="personcurrent">

                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>